<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ modelo.nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilosDetalle.css') }}">
</head>
<body>
    {% block content %}
    <h1>{{ modelo.nombre }}</h1>
    <p><strong>Descripción:</strong>{{ modelo.descripcion }}</p>
    <p><strong>Fuente:<a href="{{ modelo.fuente }}" target="_blank">{{ modelo.fuente }}</a></p>
        {% if modelo.contenido_grafico %}
        <img src="{{ url_for('static', filename=modelo.contenido_grafico) }}" alt="{{ modelo.nombre }}" width="500">
        {% endif %}
        <div class="button-container">
            <button>
                <p><a href="{{ url_for('lista_modelos') }}">Volver al listado</a></p>
                {% endblock %}
            </button>
        </div>

</body>
</html>