<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='EstiloLogisticRegression.css') }}">
</head>
<body>
    <section> 
        <h1> Logistic Regresion: Predict if a person will vote for the liberal party</h1>
        <P>Enter the person's details to predict if they will vote for the selected party</P>

        <form method = "post">
    </section>
    <section class = "fuentes">
        <label for = "Age">Age</label>
        <input type = "number" name = "Age" min = "18" max = "79" required>

        <label for = "Region">Region</label>
        <select name = "Region" required>
            <option value = "North"> North</option>
            <option value = "South"> South</option>
            <option value = "East"> East</option>
            <option value = "West"> West</option>
        </select>

            <label for = "Previous_Answer"> Previous_Answer</label>
            <select name = "Previous_Answer" required>
                <option value="Partido Liberal">Partido Liberal</option>
                <option value="Pacto Histórico">Pacto Histórico</option>
                <option value="Centro Democrático">Centro Democrático</option>
                <option value="Partido Verde">Partido Verde</option>
            </select>

            <label for="Income">Income (COP)</label>
            <input type="number" name="Income" min="1000000" max="10000000" step="100000" required>
    
            <button type="submit">Predict</button>
        
    </section>
    </form>

    {% if result is not none %}
    <h2> Prediction:
        {% if result ==1 %}
            The person <strong> will vote for the political party</strong>
        {% else %}
            The person <strong> Will not vote for the political party</strong>
        {% endif %}
    </h2>
    {% endif%}
    
    {% if plot_url %}
    <div class="graph-container">
        <h2>Analysis Results</h2>
        <div class="graph-description">
            <p><strong>Specification:</strong><br>
                <span style="color: #3498db">Blue</span>: Actually voted NO<br>
                <span style="color: #e74c3c">Red</span>: Actually voted YES<br>
                <span style="color: #e74c3c">X</span>: Model prediction for YES<br>
                <span style="color: #3498db">X</span>: Model prediction for NO</p>
    </div>
    <img src="data:image/png;base64,{{ plot_url }}" 
         alt="Voting Analysis" 
         class="responsive-img">
</div>
{% endif %}
</body>
</html>