<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Prediction</title>

</head>
<body>
    <section> 
        <h1> Logistic Regresion: Predict if a person will vote for the liberal party</h1>
        <P>Enter the person's details to predict if they will vote for the selected party</P>

        <form method = "post">
    </section>
    <section class = "fuentes">
        <label for = "Age">Age</label>
        <input type = "number" name = "Age" min = "18" max = "79" required>

        <label for = "Region">Region</label>
        <select name = "Region" required>
            <option value = "North"> North</option>
            <option value = "South"> South</option>
            <option value = "East"> East</option>
            <option value = "West"> West</option>
        </select>

            <label for = "Previous_Answer"> Previous_Answer</label>
            <select name = "Previous_Answer" required>
                <option value="Partido liberal">Partido Liberal</option>
                <option value="Pacto histórico">Pacto Histórico</option>
                <option value="Centro democrático">Centro Democrático</option>
                <option value="Partido Verde">Partido Verde</option>
            </select>

            <label for="Income">Income (COP)</label>
            <input type="number" name="Income" min="1000000" max="10000000" step="100000" required>
    
            <button type="submit">Predict</button>
        
    </section>
    </form>

    {% if result is not none %}
    <h2> Prediction:
        {% if result ==1 %}
            The person <strong> Will vote</strong>
        {% else %}
            The person <strong> Will not vote</strong>
        {% endif %}
    </h2>
    {% endif%}
    {% if plot_url %}
    <h2> Prediction Graph</h2>
    <img src = "data:image/png;base64,{{ plot_url}}" alt=" "Prediction Graph">
    {% endif %}
</body>
</html>