<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos Supervisados de clasificación</title>
</head>
<body>
    
    {% block content %}
    <h1>modelos de machine learning Supervisados</h1>
    <ul>
        {% for modelo in modelos %}
        <li><a href="{{ url_for('detalle_modelo', modelo_id=modelo.id) }}">{{ modelo.nombre }}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>