<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos Supervisados de clasificación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleModels.css') }}">
</head>
<body>
    
    {% block content %}
    <h1>modelos de machine learning Supervisados</h1>
    
        <ul>
            {% for modelo in modelos %}
            <button>
                <li><a href="{{ url_for('detalle_modelo', modelo_id=modelo.id) }}">{{ modelo.nombre }}</a></li>
                {% endfor %}
            </button>
        </ul>
    
    {% endblock %}
</body>
</html>